<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RailsUJS and Turbolinks Example</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css"/>
  <script src="/dist/main.js"></script>
</head>
<body>
  <h1>Turbolinks &amp; Rails UJS Examples</h1>
  <h2>Links</h2>
  <ul>
    <li><a href="/one">A relative link to another page hosted here.</a></li>
    <li><a href="https://github.com">An external link.</a></li>
    <li><a href="/external-redirect">A relative link that redirects to an external link.</a></li>
  </ul>
  <h2>Forms</h2>
</body>
</html>
